@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
* {
  font-family: "poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
@keyframes blob {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.8);
  }
  66% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
    color: red;
  }
}
.blob {
  animation: 10s infinite;
}
